.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination {
  align-self: center;
}
