.form {
  max-width: 40rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
}

.optionInput {
  width: 50%;
}

.title {
  text-align: center;
  margin-block: 2rem;
}

.submitBtn {
  margin-top: 2rem;
  align-self: center;
}

.addOptionBtn {
  align-self: flex-start;
}
.accordion {
  align-self: flex-start;
  width: 50%;
  margin-top: 0.5rem;
}
