.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.radioGroup {
  margin-inline: 1rem;
}

.radioGroup :not(:last-child) {
  margin-bottom: 0.5rem;
}
